{
  "useTabs": false,
  "singleQuote": true,
  "svelteBracketNewLine": false,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 180,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
